In [ ]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .config("spark.jars","https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC-2.0.33.1003/AthenaJDBC42-2.0.33.jar")
    .config("spark.sql.warehouse.dir", f"s3://bucket/athena/spark/")
    .config("spark.jars.packages", "org.apache.spark:spark-hadoop-cloud_2.12:3.3.0")
    .getOrCreate()
)

athena_df = (
    spark.read.format("jdbc")
    .option("driver","com.simba.athena.jdbc.Driver")
    .option("url", "jdbc:awsathena://athena.us-east-1.amazonaws.com:443;Workgroup=athena_workgroup;TimeZone=America/Sao_Paulo;")
    .option("AwsCredentialsProviderClass","com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain")
    .option("query","select 1 as test")
    .load()
)

athena_df.show()

In [ ]:
df = (
    spark.read.format("jdbc")
    .option("driver","com.simba.athena.jdbc.Driver")
    .option("url", "jdbc:awsathena://athena.us-east-1.amazonaws.com:443;Workgroup=athena_workgroup;TimeZone=America/Sao_Paulo;")
    .option("AwsCredentialsProviderClass","com.simba.athena.amazonaws.auth.DefaultAWSCredentialsProviderChain")
    .option("query","SELECT * FROM database.tabela_1 limit 10")
    .load()
)

df.show()