In [2]:
import pandas as pd
df = pd.read_csv('titanic_numerical.csv')
df.head(2)

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,AgeBand_,AgeBand_Adults,AgeBand_Infant,AgeBand_Seniors,AgeBand_YoungChild,Fare_group_0,Fare_group_1,Fare_group_2,Fare_group_3
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,0,0,1,0,1,0,0,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0,1,0,0,0,1,0,0,0,0,0,0,1

In [20]:
from sklearn.model_selection import train_test_split

X = df.drop(['Survived', 'PassengerId', 'Age', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin','Embarked', 'Fare'], axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
logmodel = LogisticRegression()

In [23]:
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
predictions = logmodel.predict(X_test)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.80      0.85      0.82       216
           1       0.74      0.67      0.71       141

    accuracy                           0.78       357
   macro avg       0.77      0.76      0.76       357
weighted avg       0.78      0.78      0.78       357

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[183,  33],
       [ 46,  95]])